<header class="bg-dark text-white">


    <div class="row">
        <div class="col">

        </div>


        <div class="col-3">

            <% if (!user) { %>

            <a href="auth/steam"><img src="/images/steamLogin/sits_large_border.png" alt="Sign in through Steam"></a>
            <% } else { %>


            <img class="avatar rounded" src=<%= user.photo %>' alt="<%= user.displayName %>'s Steam avatar" />
            <%= user.displayName %>

            <% } %>
        </div>
        <div class="col-4">

            <% if (user) { %>
            <button class="btn_green_white_innerfade"><a href='logout'>
                    Sign Out</a>
            </button>

            <% } %>

        </div>




    </div>

    <div class="row">
        <div class="col">



            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand <%= currentPage === 'Bookmarks' ? 'active' : '' %>" href="/">Bookmarks</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <% for (let [pageName, pageInfos] of Object.entries(pages)) { %>


                            <li class="nav-item">
                                <a class="nav-link <%= currentPage === pageName ? 'active' : '' %>" href="<%= pageInfos.route %>">
                            <%=  

                                pageName
                                
                            %>
                                </a>
                            </li>


                        <% } %>
                    </ul>
                </div>
            </nav>


        </div>
    </div>

</header>

<hr>