<!DOCTYPE html>
<html lang="en">

<head>
  <%-
      include('partials/head.ejs')
    %>


  <script src="javascripts/utils.js"></script>
  <script src="javascripts/script.js"></script>


</head>



<body class="bg-white">

  <div class="container">


    <div class="row">
      <div class="col-9">

      </div>
      <div class="col">
        <div class="container">
          <div class="row">


            <div class="col">

              <% if (!user) { %>

              <a href="auth/steam"><img src="/images/steamLogin/sits_large_border.png" alt="Sign in through Steam"></a>
              <% } else { %>


              <img class="avatar rounded" src=<%= user.photo %>' alt="<%= user.displayName %>'s Steam avatar" />
              <%= user.displayName %>

            </div>
            <div class="col">


              <a href='logout'>Logout</a>
            </div>
          </div>
          <% } %>


        </div>

      </div>

    </div>

    <% if (user) { %>

    <hr>

    <div class="row">

      <div class="col">

        <form id="formAddBookmark">

          <% labelColSize=2 %>

          <div class="form-group row">
            <label for="formAddBookmarkInputName" class="col-<%= labelColSize %> col-form-label">Name </label>
            <div class="col">
              <input type="text" class="form-control bg-light" id="formAddBookmarkInputName" name="name"
                placeholder="Steam community">
            </div>
          </div>

          <div class="form-group row">
            <label for="formAddBookmarkInputUri" class="col-<%= labelColSize %> col-form-label">Address </label>
            <div class="col">
              <input type="text" class="form-control bg-light" id="formAddBookmarkInputUri" name="uri"
                placeholder="https://steamcommunity.com/">
            </div>
          </div>

          <button type="button" class="btn btn-secondary btn-block" id="buttonAddBookmark">Bookmark</button>
        </form>
      </div>
    </div>

    <% }%>

    <br>

    <div class="row">
      <div class="container" id="bookmarksList">

      </div>
    </div>

    <template id="bookmarkCardTemplate">
      <div id="caca" class="card  text-center text-white bg-dark container">

        <div class="row">

          <button name="deleteBookmarkButton" type="button" class="btn btn-dark">

            <span class="oi oi-circle-x" aria-hidden="true"></span>
          </button>
        </div>

        <div class="row">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-secondary">Go</a>
          </div>

        </div>
      </div>
    </template>
  </div>

</body>

</html>